body {
    background-color: rgb(37, 37, 37);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.first-container,
.second-container,
.third-container {
    height: 400px;
    width: 400px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 1em;
}

.first-container, .second-container, .third-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-container-btn {
    padding: 12px 18px;
    font-size: 20px;
    width: 70%;
    margin: 6px 0;
    border: none;
    border-radius: 1em;
}

.third-container-btn {
    padding: 12px 18px;
    font-size: 20px;
    width: 70%;
    margin: 6px 0;
    border: none;
    border-radius: 1em;
}

.first-container-btn:hover, .third-container-btn:hover {
    background-color: rgb(225, 225, 225);
}

.first-container-btn:active, .third-container-btn:active {
    background-color: rgb(172, 245, 172);
}

.second-container span {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

